@model IEnumerable<rife_rafe_backend.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermsAndConditions)
            </th>
            <th>
                Tipo de Oferta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbodyProducts">

    </tbody>
</table>


@section Scripts {
    <script>
        $(() => {
            $.ajax({
                url: '/api/products',
                type: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json"
                },
            }).done(response => {
                if (response?.items) {
                    $("#tbodyProducts").html();
                    response.items.map(e => {
                        $("#tbodyProducts").append(`<tr>
                            <td>${e.title}</td>
                            <td>${e.category.name}</td>
                            <td>${e.features}</td>
                            <td>${e.description}</td>
                            <td>${e.termsAndConditions}</td>
                            <td>${e.offer}</td>
                            <td>
                                    
                            </td>
                         </tr>`);
                    });
                }
            });
        });
    </script>
}

